#main_register {
    min-width: 360px;
    min-height: 100vh;
    background-color: #020913;
}

#main_register .container {
    width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* border: 2px solid white; */
}